services:
  mariadb:
    image: mariadb:10.11
    container_name: mariadb_server
    restart: always
    ports:
      - "3307:3306"
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: mydb
      MYSQL_USER: user
      MYSQL_PASSWORD: root
    volumes:
      - ./mariadb_data:/var/lib/mysql
